.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.modal-header {
    background-color: blue;
    color: white;
}

.chat-modal-body {
    height: 600px;
}

.mt-s {
    margin-top: 0.25rem !important;
}

.bot {
    position: absolute;
    bottom: 0.5rem;
}