.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.modal-header {
    background-color: blue;
    color: white;
}

.chat-modal-body {
    height: 500px;
    width: 400px;
}

.answerButtons {
    width: 95%;
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.answers {
    position: absolute;
    bottom: 20%;
}

.progressBar {
    position: absolute;
    bottom: 12%;
    width: 95%;
}

.nBot {
    position: absolute;
    bottom: 30%;
    width: 25%;
    margin-left: 70%;
}

.nBotAlt {
    position: absolute;
    bottom: 2%;
    width: 95%;
}

.modal-container {
    bottom: 9vh !important;
    position: fixed !important; 
    margin: 1em !important;
    right: 7vw !important;
}

.icon-css {
    bottom: 10vh !important;
    position: fixed !important; 
    margin: 1em !important;
    right: 8vw !important;
}

.card-witdth{
    position: center;
    width: 95%;
}